
h1 {
  margin-bottom: 20px;
}
h3{
  margin-bottom: 10px;
}
img {
  height: 200px;
}

.clear {
  clear: both;
}

/* BLOCCO LEZIONI */
.container>.left,
.container>.right,
.container>.central
 {
  text-align: center;
  float: left;
  margin-top: 20px;
}

.container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}


.tripla>.left,
.tripla>.central,
.tripla>.right {
  float: left;
  text-align: center;
}


.container.grey {
  background-color: #f9f9f9;
  padding: 10px;
}

.verticale {
  text-align: center;
}

.verticale>.alto,
.verticale>.centro,
.verticale>.basso {
  margin-top: 40px;

}
hr{
  margin-top: 20px;
}

.verticale img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

@media screen and (max-width : 767px){

  .container img{
    height: 125px;
  }

  .container{
    line-height: 20px;
  }


}
