
h1 {
  margin-bottom: 20px;
}
img {
  height: 200px;
}

.clear {
  clear: both;
}

/* BLOCCO LEZIONI */
.container>.left,
.container>.right,
.container>.central
 {
  text-align: center;
  float: left;
  margin-top: 20px;
}

.container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}


.tripla>.left,
.tripla>.central,
.tripla>.right {
  float: left;
  text-align: center;
}

.tripla {
  text-align: center;
}
.container.grey {
  background-color: #f9f9f9;
}

.verticale {
  text-align: center;
}

.verticale>.alto,
.verticale>.centro,
.verticale>.basso {
  margin-top: 80px;
}

.verticale img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}
